<style>
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
</style>
<style>
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
</style>

body {
  margin-left: auto;
  margin-top: 20px ;
  margin-bottom: 20px ;
  margin-right: auto;
}

.article {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.news-section {
	font-family:"Oswald", serif;
	font-size: 20px;
	font-weight: bolder;
}
.story-header h1 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  margin-bottom: 0;
  font-weight: normal;
}

.deck {
  font-size: 20px;
}

.byline {
  font-size: 20px;
  margin-bottom: 2px;
}


.publish-date {
  font-size: 14px;
  margin-top: 0;
  color: #666666;
}

.story-body {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  line-height: 32px;
  max-width: 800px;
}

img {
  width: 75%;
  length: 75%;
}

.caption {
  color: #666665;
  font-size: 15px;
  margin-top: 0;
  line-height: 10px;
  font-family: "Playfair Display", serif;
}


a{
  color: #007bff; 
  text-decoration: none; 
}

a:hover {
  color: #d9534f; 
  text-decoration: underline;
}